@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), sans-serif;
}

.Icon {
  @apply text-4xl md:text-3xl lg:text-2xl;
}

.largIcon{
  font-size: 50px;
}

@media only screen and (max-width: 1400px) {
  .Icon {
    font-size: 30px;
  }
  .largIcon {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .Icon {
    font-size: 20px;
  }
  .largIcon {
    font-size: 20px;
  }
}